<html>
<head>
<title>Personality detector</title>
<style type="text/css">
body{
background-color: #def;
}
h1{
text-align:center;
text-decoration:underline;
}
#heading{
text-decoration: bold;
font-size:22px;
}
li{
font-size: 18px;}

</style>
</head>
<body>
<h1>Big Five personality traits</h1>
<ul>
<li id="heading">Openness
<li type="none">Openness is shorthand for "openness to experience." People who are high in openness enjoy adventure. They're curious and appreciate art, imagination and new things. The motto of the open individual might be "Variety is the spice of life."

People low in openness are just the opposite: They prefer to stick to their habits, avoid new experiences and probably aren't the most adventurous eaters. Changing personality is usually considered a tough process, but openness is a personality trait that's been shown to be subject to change in adulthood.
<p></p>
<li id="heading">Conscientiousness
<li type="none">People who are conscientious are organized and have a strong sense of duty. They're dependable, disciplined and achievement-focused. You won't find conscientious types jetting off on round-the-world journeys with only a backpack; they're planners.

People low in conscientiousness are more spontaneous and freewheeling. They may tend toward carelessness. Conscientiousness is a helpful trait to have, as it has been linked to achievement in school and on the job.
<p></p>
<li id="heading">Extraversion
<li type="none">Extraversion versus introversion is possibly the most recognizable personality trait of the Big Five. The more of an extravert someone is, the more of a social butterfly they are. Extraverts are chatty, sociable and draw energy from crowds. They tend to be assertive and cheerful in their social interactions.

Introverts, on the other hand, need plenty of alone time, perhaps because their brains process social interaction differently. Introversion is often confused with shyness, but the two aren't the same. Shyness implies a fear of social interactions or an inability to function socially. Introverts can be perfectly charming at parties — they just prefer solo or small-group activities.

<p></p>
<li id="heading">Agreeableness
<li type="none">Agreeableness measures the extent of a person's warmth and kindness. The more agreeable someone is, the more likely they are to be trusting, helpful and compassionate. Disagreeable people are cold and suspicious of others, and they're less likely to cooperate.
<p></p>   
<li id="heading">Neuroticism
<li type="none">To understand neuroticism, look no further than George Costanza of the long-running sitcom "Seinfeld." George is famous for his neuroses, which the show blames on his dysfunctional parents. He worries about everything, obsesses over germs and disease and once quits a job because his anxiety over not having access to a private bathroom is too overwhelming.


</ul>
<br/>

</body>
</html>